<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
						http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<context:component-scan base-package="br.com.pousadadobicao" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:interceptors>
		<bean class="br.com.pousadadobicao.interceptor.AutorizadorInterceptor" />
	</mvc:interceptors>


    
    <!--  Produção -->
	<bean class="org.apache.commons.dbcp.BasicDataSource" id="mysqlDataSource">
		<property value="org.gjt.mm.mysql.Driver" name="driverClassName" />
		<property value="jdbc:mysql://localhost:3306/sispb" name="url" />
		<property value="root" name="username" />
		<property value="1234" name="password" />
	</bean>
	
	<!--  Homologação -->
		<!-- <bean class="org.apache.commons.dbcp.BasicDataSource" id="mysqlDataSource">
		<property value="org.gjt.mm.mysql.Driver" name="driverClassName" />
		<property value="jdbc:mysql://208.91.198.197:3306/sispb" name="url" />
		<property value="sispb" name="username" />
		<property value="12345" name="password" />
	</bean> -->
	

	<!-- gerenciamento de jpa pelo spring -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="mysqlDataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<!-- gerenciamento de transações pelo spring -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven />

</beans>
